<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yiguohan.easyreading">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="RECEIVE_USER_PRESENT" />
    <uses-permission android:name="WAKE_LOCK" />
    <uses-permission android:name="READ_PHONE_STATE" />
    <uses-permission android:name="WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="WRITE_SETTINGS" />
    <uses-permission android:name="VIBRATE" />
    <uses-permission android:name="MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.yiguohan.easyreading.permission.JPUSH_MESSAGE" />

    <application
        android:name=".base.EasyReadingApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".viewImpls.MainActivity" />
        <activity android:name=".base.BaseActivity" />
        <activity android:name=".viewImpls.DoubanBookDetailActivity" />
        <activity android:name=".viewImpls.CurrentReadingDetailActivity" />
        <activity
            android:name=".viewImpls.LoginActivity"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".viewImpls.SignUpActivity"
            android:launchMode="standard"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".viewImpls.ReadingActivity" />

        <receiver
            android:name=".utils.NetworkConnectedReceiver"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".viewImpls.EntryActivity"></activity>

        <receiver
            android:name=".utils.JPushReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                <action android:name="cn.jpush.android.intent.NOTIFICATION_CLICK_ACTION" />
                <action android:name="cn.jpush.android.intent.CONNECTION" />

                <category android:name="com.yiguohan.easyreading" />
            </intent-filter>

        </receiver>
    </application>

</manifest>